<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @supplier.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @supplier.company %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @supplier.contact_no %>
</p>

<p>
  <strong>Email:</strong>
  <%= @supplier.email %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
