

<div class="my-header">
  <h2>Ordering App</h2> 
  <h4 class="user"><i class="fas fa-user-tie icon"></i>Welcome admin</h4> 
</div>

<div class="sidebar">
  <ul>
    <li><a <%= is_active('dashboard') %> href="/"><i class="fas fa-tachometer-alt icon"></i>Dashboard</a></li>
    <li><a <%= is_active('products') %>   href="/products"><i class="fas fa-shopping-bag icon"></i>Products</a></li>
    <li><a <%= is_active('suppliers') %>  href="/suppliers"><i class="fas fa-address-book icon"></i>Suppliers</a></li>
    <li><a <%= is_active('categories') %>  href="/categories"><i class="fas fa-chart-bar icon"></i>Categories</a></li>
    <li><a <%= is_active('customers') %>  href="/customers"><i class="fas fa-user-friends icon"></i>Customers</a></li>
    <li><a <%= is_active('transactions') %>  href="/transactions"><i class="fas fa-shopping-cart icon"></i>Transactions</a></li>
    <li><a <%= is_active('requests') %>  href="/#"><i class="fas fa-bell icon"></i>Requests</a></li>
    <li><a href="admins/sign_out"><i class="fas fa-sign-out-alt icon"></i>Sign out</a></li>
  </ul>  
</div>
